@model IEnumerable<Bookleus.Application.Dtos.Book.BookDto>


<form method="get" asp-action="index" class="d-flex justify-content-end">
  <div class="col-auto mx-1">
    <input type="text" name="searchString" class="form-control-sm" value="@ViewBag.SearchString" placeholder="Search" />
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.IsAvailable)
                        {
                            @Html.ActionLink("Reserve", "ConfirmReserve", "Books", new { sku = item.SKU })
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center text-danger" colspan="3">No Results Found</td>
            </tr>
        }

    </tbody>
</table>
